body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 10px 0;
  margin: 0;
}

header {
  background-color: pink;
  height: 150px;
}

.heading {
  height: 100px;
  width: 960px;
  background-color: limegreen;
  margin: 0 auto;
}

.navbar {
  height: 50px;
  width: 960px;
  background-color: violet;
  margin: 0 auto;
}

.contents {
  /* 子要素に合わせて大きさを変動させるためにheightを削除 */
  width: 960px;
  background-color: skyblue;
  margin: 10px auto;
}

.left-content {
  height: 400px;
  width: 640px;
  background-color: #ffffff;
  float: left;
}

.right-content {
  height: 370px;
  width: 320px;
  background-color: #f9f9f9;
  float: left;
}

footer {
  background-color: pink;
  height: 50px;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.title {
  font-family: fantasy;
}

.heading-sentence {
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  float: left;
  padding-right: 10px;
}

td {
  margin: 0;
  padding-left: 10px;
  line-height: 30px;
}

.stylist-img{
  height: 100px;
  width: 100px;
}

.stylist-name{
  text-align: center;
}
