/* ヘッダー */
header{
  background-color: #2d5eb7;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

h1{
  font-size: 24px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #fff;
}

.header-links{
  display: flex;
  list-style: none;
}

.header-link{
  margin-left: 30px;
}
/* ファーストビュー */

/* カードリスト */

/* フッター */
